@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,500&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Chivo Mono', monospace;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    background: #1f242d;
    color: white;
    /* background-image: url(image/crazy.jpg); */
    background-size: 100% 110vh; 
    position: relative;
    background-size: cover;
    width: 100%;
    height: 100vh;
    /* background-repeat:repeat-y; */
    z-index: 100;
}
#header{
    width: 100%;
    height: 105vh;
    background-size: cover; 
    background-position: center;
    z-index: 100;
}
/* #header.sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}  */
.container{
    padding: 10px 25px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
    margin-left: 8%;
    margin-top: 2%;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 25px;
}
nav ul a{
    display: inline-block;
    font-size: 20px;
    color: aqua;
    text-decoration: none;
    position: relative;
    font-weight: 500;
    margin-left: 10px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
nav ul a::after{
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul a:hover{
    color: rgb(63, 211, 33);
} 
/* #sidemenu{
    font-size: 20%;
    color: aqua;
    display: none;
} */
.header-text{
    margin-top: 2%;
    font-size: 25px;
    max-width: 600px;
}
.header-text h1{
    font-family: 'Chivo Mono', monospace;
    font-size: 40px;
    font-weight: 700;
    padding: 3%;
    cursor: pointer;
    transition: .3s;
    color: rgb(63, 211, 33);
    opacity: 0;
    /* animation: slideRight 1s ease forwards; */
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 1s;
}
.header-text h1:hover{
    transform: translateY(-5px);
    color: #ff004f;
}
.header-text h2{
    font-size: 45px;
    font-weight: 700;
    margin-left: 10%;
    color:  aqua;
    opacity: 0;
    /* animation: slideBottom 1s ease forwards; */
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 1.5s;
}

.header-text h3{
    font-family: 'Chivo Mono', monospace;
    font-size: 40px;
    font-weight: 700;
    margin: 15px;
    padding: 1%;
    cursor: pointer;
    transition: .3s;
    color: rgb(63, 211, 33);
    opacity: 0;
    /* animation: slideRight 1s ease forwards; */
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 1s;
}
.header-text h3:hover{
    transform: translateY(-5px);
    color: #ff004f;
}
.media a i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(63, 211, 33);
    border-radius: 50%;
    list-style: none;
    font-size: 27px;
    transition: 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    margin: 8px 13px 25px 0;
    margin-left: 40px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.media i:hover{
    background-color: transparent;
    color: aqua;
    transform: translateY(-10px);
    box-shadow: 0 0 20px aqua;
}
.btn{
    margin-left: 36px;
}
.btn button{
    padding: 10px 25px;
    border: 2px solid rgb(60, 173, 75);
    color: #ff004f;
    background-color: aqua;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 2s;
}
.btn button:hover{
    background-color: transparent;
    color: rgb(100, 237, 111);
}
/*--------KEYFRAMES ANIMATION-------- */
@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideLeft {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideBottom {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}


/* -----------about section------------ */
#about{
    background: #323946;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* .text-about-1{
    flex-basis: 35%;
    
} */
.text-about-1 img{
    margin-top: 25%;
    width: 35vw;
    border-radius: 20px;
    border: 4px solid rgb(60, 173, 75);
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 1s, 3s;
    cursor: pointer;
}
.text-about-1 img:hover{
    box-shadow: 0 0 20px aqua;
}
.text-about-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 50px;
    margin-top: 2%;
    cursor: pointer;
    transition: .3s;
    color: rgb(63, 211, 33);
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: 1s;
}
.text-about-2 p{ 
    font-family: 'Chivo Mono', monospace;
    margin-top: 2%;
    margin-right: 50px;
    font-size: large;
    color: aqua;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 2s;
}

.text-about-2 h2{
    font-size: 40px;
    margin-top: 10%;
    cursor: pointer;
    transition: .3s;
    color: rgb(63, 211, 33);
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: 1s;
}
.sub-title:hover{
    transform: translateY(-5px);
    color: #ff004f;
}
.text-about-2 h2:hover{
    transform: translateY(-5px);
    color: #ff004f;
}
.skillcontainer{
    margin-top: 2%;
    padding: 12px;
    margin-left: -2%;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 2s;
}
.skillitem{
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: large;
    color: aqua;
    flex-wrap: nowrap ;
}

.skill{
    width: 250px;
    height: 15px;
    background-color: rgb(63, 211, 33);
    border: 3px solid rgb(8, 8, 8);
}
.hundread{
    width: 265px;
}
.nintyfive{
    width: 200px;
}
.eighty{
    width: 100px;
}
.hundread{
    width: 250px;
}
@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-35px);
    }
    100% {
        transform: translateY(0);
    }
}
/* ----------------services----------------- */

#services{
    background: #1f242d;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 10px;
    margin-top: 50px;
}
.services-list div{
    background: #405781;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 30px;
    background-color: transparent;
    transition: 0.5s,transform 0.5s;
    opacity: 0;
    /* animation: slideBottom 1s ease forwards; */
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: calc(.2s * var(--i));
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
    color: aqua;
}
.services h1{
    font-size: 30px;
    text-align: center;
    margin-top: 2%;
    cursor: pointer;
    transition: .3s;
    color: rgb(63, 211, 33);
} 
.services h1:hover{
    transform: translateY(-5px);
    color: #ff004f;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list h2:hover{
    color: black;
    cursor: pointer;
}
.services-list div a{
    text-decoration: none;
    font-size: 15px;
    color: aqua;
    margin-top: 20px;
    display: inline-block;
}
.services-list div a:hover{
    color: black;
    cursor: pointer;
}
.services-list div:hover{
    background:#ff004f;
    transform: translateY(-15px);
}
.services-list p{
    font-size: 15px;
    color: rgb(0, 247, 123);
    font-size: large;
}

/* ------------------contact----------------- */
#contact{
    margin-top: 2%;
    width: 100%; 
    height: 100vh;
    background: #323946;
}
.contact h1{
    margin-top: 2%;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    transition: .3s;
    color: rgb(63, 211, 33);
    }
    .contact h1:hover{
        transform: translateY(-5px);
        color: #ff004f;
    }
    
    .contact form{
        max-width: 70rem;
        margin: 8rem auto;
        text-align: center;
    
        /* margin-left: 180px; */
        font-weight: 900;
    }
    .contact form .input-box{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        font-weight: 900;
    }

    .contact form .input-box input,
    .contact form textarea{
        width: 100%;
        padding: 1.5rem;
        font-size: 1.6rem;
        color: aqua;
        background-color: transparent;
        border-radius: .8rem;
        margin: .7rem 0;
        justify-content: center;
        margin-left: 30px;
        font-weight: 900;
        resize: none;
        border: 3px solid rgb(60, 173, 75);
        opacity: 0;
        animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    }
    .contact form .input-box input{
        width:45%
    }
    .contact form textarea{
        margin: 7px 0px 7px 30px;
        padding: 15px;
        width: 450px;
        height: 174px;
    }
    .contact form .btn{
        padding: 10px 20px;
        border: 2px solid rgb(60, 173, 75);
        color: #ff004f;
        background-color: aqua;
        font-weight: bold;
        font-size: 20px;
        margin-top: 2rem;
        cursor: pointer;
    }
    .contact form .btn:hover{
        background-color: transparent;
        color: rgb(100, 237, 111);
    }
    .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 1rem 2%;
        background: rgb(92, 161, 98);
    }
    .footer-text p{
        font-size: 17px;
        color: black;
    }
    .footer-iconTop a{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: px;
        background: rgb(3, 243, 243);
        border-radius: 5px;
        transition: .5s ease;
    }
    .footer-iconTop a:hover{
        box-shadow: 0 0 1rem #ff004f;
    }
    .footer-iconTop a i{
        font-size: 25px;
    }
    


/* ----------------css for small screens---------------- */
nav .fas{
    display: none;
} 

@media only screen and (max-width: 1280px) {
    html {
        font-size: 55%;
    }
    body{
        width: 100%;
    }
    #header{
        height: 75vh;
    }
    .services-list div i {
        font-size: 30px;
    }
    #contact{
        height: 70vh;
    }
    .footer {
        padding: 1rem 3%;
    }
}
@media only screen and  (max-width: 991px) {
    body{
        width: 100%;
    }
    #header{
        height: 105vh;
    }
    .text-about-1 img {
        margin-top: 40%;
    }
    #contact{
        height: 120vh;
        
    }
    .contact h1{
        margin-top: -5%;
    }
    .contact form{
        margin: 7rem auto;
    }
    .contact form .btn{
        margin-top: 6rem;
    }
    .services-list div i {
        font-size: 30px;
    }
    section {
        padding: 10rem 3% 2rem;
    }
    #services{
        padding-bottom: 3rem;
    }
    .services-list{
        grid-template-columns: 1fr;
    }
    .footer {
        padding: 1rem 3%;
    }
}
@media only screen and  (max-width: 912px){
    body{
        width: 100%;
    }
    #header {
    height: 45vh;
}
    /* html{
        font-size: 900;
    } */
    #contact{
        height: 45vh;
    }
    .footer {
        padding: 1rem 3%;
    }
}
@media only screen and (max-width: 820px){
    body{
        width: 100%;
    }
    #header {
    height: 50vh;
}
    #contact {
        height: 55vh;
    }
    .footer {
        padding: 1rem 3%;
    }
    .text-about-1 img {
        margin-top: 60%;
    }
}
@media only screen and (max-width: 768px) {
    body{
        width: 100%;
    }
    #header{
        height: 65vh;
    }
    #sidemenu {
        display: block;
    }
    #contact {
        height: 60vh;
    }
    .nav ul{
        position: relative;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: #1f242d;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: block;
    }
    /* .nav ul.active{
        display: block;
    } */
    .nav ul a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .text-about-1 img{
        margin-top: 15%;
        width: 65vw;
    }
    .row{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .contact form .input-box {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        justify-content: space-between;
    }
    .services-list div i {
        font-size: 30px;
    }
    
    .media a i{
        margin-left: 5%;
    }
    .btn button{
        padding: 5px 10px;
        margin-left: 0%;
        margin-top: 3%;
    }
    #about{
        flex-direction: column-reverse;
    }
    .services-list{
        grid-template-columns: 1fr;
    }
    .footer {
        padding: 1rem 3%;
    }
}
    
@media only screen and  (max-width: 659px) {
    body{
        width: 100%;
    }
    #header{
        height: 112vh;
    }
    .contact form .input-box {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        justify-content: space-between;
    }
    #contact{
        height: 117vh;
    }
    .services-list div i {
        font-size: 30px;
    }
}
@media only screen and  (max-width: 618px) {
    .nav ul a{
        font-size: 20%;
    }
    nav ul li {
        display: inline-block;
        list-style: none;
        margin: 10px 20px;
        margin-top: 5%;
    }
}
@media only screen and  (max-width: 617px) {
    body{
        width: 100%;
    }
    #header{
        height: 112vh;
    }
    
    .logo {
        width: 120px;
        margin-left: 2%;
    }
    .nav ul a{
        font-size: 20%;
    }
    nav ul li {
        display: inline-block;
        list-style: none;
        margin: 10px 22px;
        margin-top: 10%;
    }
    .header-text h1{
        font-size: 140%;
    }
    .header-text h2{
        font-size: 130%;
    }
    .header-text h3{
        font-size: 140%;
    }
    .sub-title {
        font-size: 400%;
    }
    .text-about-2 p{
        font-size: 190%;
    }
    .text-about-2 h2{
        font-size: 400%;
    }
    .services-list{
        grid-template-columns: 1fr;
    }
    #contact{
        height: 117vh;
    }
    .contact h1 {
        margin-top: -10%;
    }
    .contact form .btn{
        margin-top: 5rem;
    }
    
    .row{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: center;
    }
    .services-list div i {
        font-size: 30px;
    }
}

@media only screen and (max-width: 600px){
    body{
        width: 100%;
    }
    #header{
        height: 112vh;
    }
    
    .container{
        padding: 10px 15px;
    }
    html{
        font-size: 60%;
    }
    .logo{
        margin-top: 5%;
    }
    /* #sidemenu{
        right: -40px;
    } */
    .header-text{
        margin-top: 10%;
    }
    .header-text h1{
        font-size: 150%;
        margin-left: 5px;
    }
    .header-text h2{
        font-size: 140%;
        margin-left: 35px;
    }
    .header-text h3{
        font-size: 150%;
        margin-left: 10px;
    }
    .btn{
        margin-left: 8%;
    }  
    .btn button{
        padding: 10px 10px;
        margin-left: -5%;
    }
    nav .fas{
        display: block;
        position: fixed;
        color: aqua;
        top: 0px;
        right: 10px;
        font-size: 25px;
        margin-top: 2%;
    }
    nav ul{
        background: #1f242d;
        background-color: transparent;
        position: fixed;
        top: 0;
        right: -200px;
        width: 175px;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 37px;
    }
    nav ul .fas{
        display: block;
        position: absolute;
        top: 3%;
        left: 5%;
        color: aqua;
        cursor: pointer;
    }
    .sub-title{
        font-size: 30px;
    }
    .text-about-1 img{
        width: 50%;
        margin-top: 10%;
        margin-left: 25%;
    }
    .text-about-2{
        font-size: 10px;
    }
    .text-about-2 h2{
        font-size: 30px;
    }
    .text-about-2 p{
        font-size: 18px;
    }
    .skillcontainer{
        font-size: 18px;
        margin-left: 0px;
    }
    .skill{
        width: 220px;
    }
    .skillitem{
        flex-wrap: wrap;
    }
    #services {
        padding-bottom: 3rem;
    }
    .services h1{
        margin-top: 3%;
    }
    .services-list{
        grid-template-columns: 1fr;
    }
    .services-list{
        grid-gap: 30px;
    }
    .services-list div{
        padding: 35px;
        margin-left: 1%;
    }
    .services-list div i {
        font-size: 30px;
    }
    .contact form .btn{
        margin-top: 5rem;
    }
    #contact{
        height: 117vh;
    }
}
@media (max-width: 540px){
    body{
        width: 100%;
    }
    #header{
        height: 80vh;
    }
    nav ul {
        background: #1f242d;
        background-color: transparent;
        position: fixed;
        top: 0;
        right: -200px;
        width: 170px;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    .header-text{
        margin-top: 10%;
    }
    .header-text h1{
        font-size: 150%;
    }
    .header-text h2{
        font-size: 130%;
    }
    .header-text h3{
        font-size: 150%;
    }
    .text-about-1 img {
        width: 75%;
        margin-top: 10%;
        margin-left: 12%;
    }
    #contact{
        height: 90vh;
    }
    .contact form .btn {
        margin-top: 5rem;
    }
    .footer {
        padding: 1rem 2%;
    }
}
@media (max-width: 450px){
    html{
        font-size: 50%;
    }
    body {
        width: 100%;
    }
    #header {
        height: 60vh;
    }
    nav ul {
        background: #1f242d;
        background-color: transparent;
        position: fixed;
        top: 0;
        right: -200px;
        width: 170px;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    .text-about-1 img{
        width: 65%;
        margin-left: 17%;
    }
    .services-list{
        grid-template-columns: 0.9fr;
    }
    .skillcontainer {
        font-size: 18px;
        margin-left: -24px;
    }
    .skill {
        width: 290px;
    }
    .skillitem {
        display: flex;
        align-items: center;
        font-weight: 900;
        font-size: large;
        color: aqua;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: flex-start;
        justify-content: center;
    }
    #contact{
        height: 60vh;
    }
    .contact h1{
        margin-top: -20%;
    }
    .contact form textarea{
        margin: 5px 0px 5px 0px;
        width: 310px;
    }
    .contact form .input-box input{
        padding: 1rem;
        margin: 0.5rem 0.5rem;
        width: 100%;
    }
    .footer {
        padding: 0rem 2%;
        flex-direction: column-reverse;
    }
    .footer-text p {
        font-size: 15px;
        color: black;
    }
}
@media only screen and  (max-width: 414px){
    #header{
        height: 60vh;
    }
    .skill {
        width: 250px;
    }
    .skillitem {
        display: flex;
        align-items: center;
        font-weight: 900;
        font-size: large;
        color: aqua;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: flex-start;
        justify-content: center;
    }
    #contact{
        height: 60vh;
    }
    .footer-text p {
        font-size: 12px;
        color: black;
    }
}
@media only screen and  (max-width: 412px) {
    #header{
        height: 60vh;
    }
    #contact{
        height: 60vh;
    }
    .skill {
        width: 250px;
    }
}
@media only screen and  (max-width: 393px){
    #header {
        height: 60vh;
    }
    #contact{
        height: 60vh;
    }
    .skill {
        width: 220px;
    }
    .footer{
        flex-direction: column-reverse;
    }
}
@media only screen and  (max-width: 375px){
    #header{
        height: 80vh;
    }
    #contact {
        height: 80vh;
    }
    .skill {
        width: 200px;
    }
}
@media only screen and  (max-width: 365px) {
    #header{
        height: 100vh;
    }
    .header-text {
        margin-top: 20%;
    }
    .media a i{
        margin-left: 15px;
    }
    .skill {
        width: 180px;
    }
    .skillcontainer{
        font-size: 10px;
        padding: 0px;
    }
    .text-about-1 img{
        width: 80%;
        margin-left: 10%;
    }
    #contact {
        height: 90vh;
    }

    .contact h1 {
        margin-top: -25%;
    }
    .contact form {
        margin: 4rem -3rem;
    }
    .contact form textarea{
        width: 255px;
    }
    .contact form .btn {
        padding: 6px 6px;
    }
    .contact form .btn {
        margin-top: 5rem;
    }
    .footer-text p {
        font-size: 10px;
    }
    .footer {
        flex-direction: column-reverse;
    }
}

@media only screen and  (max-width: 360px){
    #header{
        height: 70vh;
    }
    .header-text h1{
        font-size: 110%;
    }
    .header-text h2{
        font-size: 95%;
    }
    .header-text h3{
        font-size: 110%;
    }
    .skill {
        width: 100px;
        font-size: medium;
    }

    #contact {
        height: 70vh;
    }
    .contact form {
        margin: 5rem 0rem;
    }
    .btn button {
        padding: 5px 6px;
        margin-left: -5%;
    } 
}

@media only screen and  (max-width: 280px){
    #header {
        height: 70vh;
    }
    body{
        width: 100%;
    }
    #contact {
        width: 100%;
        height: 90vh;
    }
    .contact form textarea {
        width: 225px;
    }
    .contact form .input-box{
        flex-wrap: wrap;
    }
    .text-about-1 img {
        margin-top: 20%;
        width: 65%;
        margin-left: 18%;
    }
    .skill {
        width: 100px;
        font-size: medium;
    }
    .text-about-2 p {
        font-size: 12px;
    }
    .services-list p{
        font-size: 14px;
    }
}
















#msg{
    color: black;
    margin-top: -90px;
    text-align: center;
    font-size: 20px;
    display: block;
}







   